<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mission to Mars</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <style>
      body {background-color: rgb(230, 197, 176);}
      h1   {color: rgb(81, 0, 255);}
      p    {color: rgb(255, 0, 0);}
      h3   {color: rgb(166, 205, 50)}
      a    {color: rgb(205, 50, 50)}
      div  {color: rgb(60, 0, 255)}
     </style> 
   </head>s
   <body>
       <div class="container">
           <!-- Add Jumbotron Header-->
           <div class="jumbotron text-center"style="background-image: url('https://wallpapercave.com/wp/wp2461891.jpg'); background-position: center; background-size: cover;height: 350px;">
               <h1>Mission to Mars</h1>
               <!-- Add a button to activate scraping script-->
               <p><a class="btn btn-info btn-lg" href="/scrape"
                   role="button">Scrape New Data</a></p>
           </div>
           <!-- Add section for Mars News -->
           <div class="row" id="mars-news">
               <div class="col-md-12">
                   <div class="media">
                       <div class="media-body">
                           <h2>Latest Mars News</h2>
                           <h4 class="media-heading">{{mars.news_title}}</h4>
                           <p>{{mars.news_paragraph}}</p>
                       </div>
                   </div>
               </div>
           </div>
           <!-- Section for Featured Image and Facts table -->
           <div class="row" id="mars-featured-image">
               <div class="col-md-8">
                   <h2><strong>Featured Mars Image</strong></h2>
                   <img
                       src="{{mars.featured_image }}"
                       class="img-responsive"
                       alt="Responsive image"
                   />
               </div>
               <div class="col-md-4">
                   <!-- Mars Facts-->
                   <div class="row" id="mars-facts">
                       <h4>Mars Facts</h4>
                       {{ mars.facts | safe }}
                   </div>
               </div>
           <!-- Section for Mars Hemispheres Image and Title -->
           <div class="col-xs-12" id="mars-hemispheres">
               <h2><strong>Mars Hemisphere</strong></h2>
               {% for hemisphere in mars.hemispheres %}
               <div class="col-xs-3"> 
                   <img src="{{hemisphere.img_url}}" class="img-thumbnail" alt="hemisphere">
                   <p>{{hemisphere.title}}</p>
                   <div class="clearfix visible-xs-block">
                   </div>
                   <br>
               </div>
               {% endfor %}
           </div> 
       </div>
   </body>
</html>

